<!DOCTYPE html>
<html lang="en">
  <%- include('../components/header') %>
  <link rel="stylesheet" href="assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="assets/css/pages/datatables.css">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
  />

  <body>
    <div id="app">
      <%- include('../components/sidebar', {sideMenu: sideMenu}) %>
      <div id="main" class="layout-navbar">
        <%- include('../components/navbar', {user: user }) %>
        <div id="main-content">

            <div class="page-content">
                <section class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            <h4>Assessments Audited</h4>
                          </div>
                          <div class="card-body">
                            <div id="auditChart"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            <h4>Company List</h4>
                          </div>
                          <div class="card-body">
                            <table class="table" id="companyTable" style="background-color: #DADADA;">
                              <thead>
                                <tr>
                                  <th>Company name</th>
                                  <th>Nation</th>
                                  <th>Status</th>
                                  <th>Last update</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Rinjani Campground</td>
                                  <td><span class="fi fi-id"></span></span> - INA</td>
                                  <td>Assigned</td>
                                  <td>15 Oct 2024</td>
                                  <td>
                                    <button class="btn btn-primary">Audit</button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Ujung Kulon National Park</td>
                                  <td><span class="fi fi-id"></span></span> - INA</td>
                                  <td>In Review</td>
                                  <td>15 Oct 2024</td>
                                  <td>
                                    <button class="btn btn-primary">Audit</button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Agra Hotspring</td>
                                  <td><span class="fi fi-id"></span></span> - INA</td>
                                  <td>Need Revision</td>
                                  <td>15 Oct 2024</td>
                                  <td>
                                    <button class="btn btn-primary">Audit</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
        
          <%-include('../components/footer') %>
        </div>
      </div>
    </div>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="/js/apexcharts.min.js"></script>
    <!-- <script src="/js/dashboard.js"></script> -->
    <script src="/js/app.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
            let auditChartOptions = {
                chart: {
                    type: "area",
                    // stacked: true,
                },
                colors: ['#008FFB','#00E396', '#f9ce1d', '#EA3546'],
                series: [
                  {
                    name: "Assigned",
                    data: [30, 5, 35, 50, 49, 75],
                  },
                  {
                    name: "Completed",
                    data: [29, 4, 30, 45, 46, 40],
                  },
                  {
                    name: "In-review",
                    data: [0, 0, 0, 0, 0, 20],
                  },
                  {
                    name: "Need Revision",
                    data: [1, 1, 5, 5, 3, 15],
                  },
                ],
                xaxis: {
                  categories: [2019, 2020, 2021, 2022, 2023, 2024],
                },
            };
            let auditChart = new ApexCharts(document.querySelector("#auditChart"), auditChartOptions);
            auditChart.render();
        });
    </script>
    <script>
      $(document).ready(function() {
        $("#companyTable").Datatable();
      })
    </script>
  </body>
</html>
