<div class="leftside-menu">
  <!-- Logo Light -->
  <a href="index.html" class="logo logo-light">
    <span class="logo-lg">
      <img src="assets/images/logo.png" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/logo-sm.png" alt="small logo" />
    </span>
  </a>

  <!-- Logo Dark -->
  <a href="index.html" class="logo logo-dark">
    <span class="logo-lg">
      <img src="assets/images/logo-dark.png" alt="dark logo" />
    </span>
    <span class="logo-sm">
      <img src="assets/images/logo-sm.png" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar -->
  <div data-simplebar>
    <ul class="side-nav">
      <li class="side-nav-title">Main</li>

      <li class="side-nav-item">
        <a href="index.html" class="side-nav-link">
          <i class="ri-dashboard-2-line"></i>
          <span> Dashboard </span>
          <span class="badge bg-success float-end">9+</span>
        </a>
      </li>

      <li class="side-nav-title">App</li>

      <li class="side-nav-item">
        <a href="apps-calendar.html" class="side-nav-link">
          <i class="ri-calendar-line"></i>
          <span> Calendar</span>
        </a>
      </li>

      <li class="side-nav-item">
        <a href="apps-kanban-board.html" class="side-nav-link">
          <i class="ri-artboard-line"></i>
          <span> Kanban Board</span>
        </a>
      </li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarPagesinvoice"
          aria-expanded="false"
          aria-controls="sidebarPagesinvoice"
          class="side-nav-link"
        >
          <i class="ri-article-line"></i>
          <span>Landing Page</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarPagesinvoice">
          <ul class="side-nav-second-level">
            <li class="side-nav-item">
              <a class="side-nav-link" href="/cms-event">Events</a>
            </li>
            <li class="side-nav-item">
              <a class="side-nav-link" href="apps-invoice.html">Invoice</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
