<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <a href="/users/assessment" class="d-flex gap-2">
          <i class="bi bi-arrow-left"></i>
        </a>
        <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
          <div class="form-check form-switch fs-6">
            <input
              class="form-check-input me-0"
              type="checkbox"
              id="toggle-dark"
              hidden />
            <label class="form-check-label"></label>
          </div>
        </div>
        <div class="sidebar-toggler x">
          <a href="#" class="sidebar-hide d-xl-none d-block">
            <i class="bi bi-x bi-middle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Themes</li>

        <!-- isi -->

        <li class="sidebar-title">Completed</li>
        <li class="sidebar-item mb-3">
          <div class="progress progress-primary">
            <div
              class="progress-bar progress-label"
              role="progressbar"
              style="width: 35%"
              aria-valuenow="35"
              aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
