<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Manage Staf</h3>
        <p class="text-subtitle text-muted">
          Multiple form layouts, you can use
        </p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav
          aria-label="breadcrumb"
          class="breadcrumb-header float-start float-lg-end"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Manage News
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Basic Horizontal form layout section start -->
  <section id="basic-horizontal-layouts">
    <div class="row match-height">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Horizontal Form</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label> Name</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input
                        type="text"
                        id="first-name"
                        class="form-control"
                        name="fname"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="col-md-4">
                      <label> Position</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input
                        type="text"
                        id="first-name"
                        class="form-control"
                        name="fname"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="col-md-4">
                      <label>Image Event</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="row">
                        <div class="">
                          <div class="mb-10">
                            <label for="example-fileinput" class="form-label"
                              >Default file input</label
                            >
                            <input
                              type="file"
                              id="example-fileinput"
                              class="form-control"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label> Social Media</label>
                    </div>
                    <div class="col-md-8 from-group">
                      <div class="col-md-4">
                        <label>Facebook</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input
                          type="text"
                          id="first-name"
                          class="form-control"
                          name="fname"
                          placeholder="First Name"
                        />
                      </div>
                      <div class="col-md-4">
                        <label>Linkedin</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input
                          type="text"
                          id="first-name"
                          class="form-control"
                          name="fname"
                          placeholder="First Name"
                        />
                      </div>
                      <div class="col-md-4">
                        <label>Instagram</label>
                      </div>
                      <div class="col-md-8 form-group">
                        <input
                          type="text"
                          id="first-name"
                          class="form-control"
                          name="fname"
                          placeholder="First Name"
                        />
                      </div>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- // Basic Horizontal form layout section end -->

  <!-- // Basic multiple Column Form section end -->
</div>
