<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon purple mb-2">
                    <i class="iconly-boldShow"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Registered Business</h6>
                  <h6 class="font-extrabold mb-0">112.000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon blue mb-2">
                    <i class="iconly-boldProfile"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Registered User</h6>
                  <h6 class="font-extrabold mb-0">183.000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div
                  class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                  <div class="stats-icon green mb-2">
                    <i class="iconly-boldAdd-User"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Registered Auditor</h6>
                  <h6 class="font-extrabold mb-0">80.000</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Assesment & Reporting Progress</h4>
            </div>
            <div class="card-body">
              <div id="chart-profile-visit"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body py-4 px-4">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="/images/faces/1.jpg" alt="Face 1" />
            </div>
            <a href="#">
              <div class="ms-3 name">
                <h5 class="font-bold">Super Admin</h5>
                <h6 class="text-muted mb-0">@superadmin</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4>Auditor</h4>
        </div>
        <div class="card-content pb-4">
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="/images/faces/4.jpg" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">Hank Schrader</h5>
              <h6 class="text-muted mb-0">@johnducky</h6>
            </div>
          </div>
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="/images/faces/5.jpg" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">Dean Winchester</h5>
              <h6 class="text-muted mb-0">@imdean</h6>
            </div>
          </div>
          <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
              <img src="/images/faces/1.jpg" />
            </div>
            <div class="name ms-4">
              <h5 class="mb-1">John Dodol</h5>
              <h6 class="text-muted mb-0">@dodoljohn</h6>
            </div>
          </div>
          <div class="px-4">
            <!-- <button
              class="btn btn-block btn-xl btn-outline-primary font-bold mt-3"
            >
              Start Conversation
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-12">
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card">
            <div class="card-header">
              <h4>Assessment Audited</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-primary"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="/images/bootstrap-icons.svg#circle-fill"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Assigned</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0">862</h5>
                </div>
                <div class="col-12">
                  <div id="chart-europe"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-success"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="/images/bootstrap-icons.svg#circle-fill"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Completed</h5>
                  </div>
                </div>
                <div class="col-4">
                  <h5 class="mb-0">375</h5>
                </div>
                <div class="col-12">
                  <div id="chart-america"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-danger"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="/images/bootstrap-icons.svg#circle-fill"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Review</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0">1025</h5>
                </div>
                <div class="col-12">
                  <div id="chart-indonesia"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="d-flex align-items-center">
                    <svg
                      class="bi text-danger"
                      width="32"
                      height="32"
                      fill="blue"
                      style="width: 10px"
                    >
                      <use
                        xlink:href="/images/bootstrap-icons.svg#circle-fill"
                      />
                    </svg>
                    <h5 class="mb-0 ms-3">Need Revision</h5>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="mb-0">1025</h5>
                </div>
                <div class="col-12">
                  <div id="chart-indonesia"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-8">
          <div class="card col-lg-12">
            <div class="card-header">
              <h4>List Business Registered</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-lg">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type of Business</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <p class="font-bold ms-3 mb-0">HarborView Resort</p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class="font-bold">Hotel & Resort</p>
                        <p class="mb-0">
                          Providing luxurious accommodation with ocean views,
                          spa facilities, local restaurants and complete
                          services for tourists who want to relax and enjoy the
                          beauty of the beach.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">
                        <div class="d-flex align-items-center">
                          <p class="font-bold ms-3 mb-0">
                            AdventureTrack Expeditions
                          </p>
                        </div>
                      </td>
                      <td class="col-auto">
                        <p class="font-bold">Adventure Travel Agency</p>
                        <p class="mb-0">
                          Specializing in adventure tourism such as mountain
                          climbing, white water rafting and safari trips, with a
                          focus on immersive nature experiences and
                          challenge-seeking visitors.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
