<div class="page-content">
    <section class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Assessments Audited</h4>
              </div>
              <div class="card-body">
                <div id="auditChart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Company List</h4>
              </div>
              <div class="card-body">
                <table class="table" id="companyTable" style="background-color: #DADADA;">
                  <thead>
                    <tr>
                      <th>Company name</th>
                      <th>Nation</th>
                      <th>Status</th>
                      <th>Last update</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Rinjani Campground</td>
                      <td><span class="fi fi-id"></span></span> - INA</td>
                      <td>Assigned</td>
                      <td>15 Oct 2024</td>
                      <td>
                        <button class="btn btn-primary">Audit</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Ujung Kulon National Park</td>
                      <td><span class="fi fi-id"></span></span> - INA</td>
                      <td>In Review</td>
                      <td>15 Oct 2024</td>
                      <td>
                        <button class="btn btn-primary">Audit</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Agra Hotspring</td>
                      <td><span class="fi fi-id"></span></span> - INA</td>
                      <td>Need Revision</td>
                      <td>15 Oct 2024</td>
                      <td>
                        <button class="btn btn-primary">Audit</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>