<div class="container">
  <div
    class="text-center profile-container"
    style="
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      width: 9rem;
    ">
    <img
      src="/images/faces/1.jpg"
      alt="Profile Picture"
      class="profile-img"
      style="width: 100%; height: auto; border-radius: 0.5rem" />
  </div>

  <div class="card">
    <div class="card-body">
      <form>
        <h5 class="mb-3">Company Information</h5>

        <div class="row g-3 mb-3">
          <!-- Name of Bussiness -->
          <div class="col-md-6">
            <label for="companyName" class="form-label">
              Name of Bussiness
            </label>
            <input
              type="text"
              class="form-control"
              id="companyName"
              value="Dior Hotel" />
          </div>

          <!-- Location -->
          <div class="col-md-6">
            <label for="BussinessType" class="form-label">Bussiness Type</label>
            <input
              type="text"
              class="form-control"
              id="BussinessType"
              value="Medium" />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <!-- Email -->
          <div class="col-md-6">
            <label for="Country" class="form-label">Country</label>
            <input
              type="email"
              class="form-control"
              id="Country"
              value="Indonesia" />
          </div>

          <!-- Phone -->
          <div class="col-md-6">
            <label for="Website" class="form-label">Website</label>
            <input
              type="text"
              class="form-control"
              id="Website"
              value="diorhotel.com" />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <!-- Website -->
          <div class="col-md-6">
            <label for="socialMedia" class="form-label">Social Media</label>
            <input
              type="url"
              class="form-control"
              id="socialMedia"
              value="www.diorhotel.com" />
          </div>

          <div class="col-md-6">
            <label for="logo" class="form-label">Upload Company Logo</label>
            <input type="file" class="form-control" id="logo" />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <!-- Logo Upload -->
          <div class="col-12">
            <label for="Address" class="form-label">Address</label>
            <textarea class="form-control" id="Address" rows="4">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. This company focuses on providing sustainable ecotourism services while maintaining ecological balance.</textarea
            >
          </div>
        </div>

        <hr />

        <h5 class="mb-3">Contact Person</h5>
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              value="Jhon Doe" />
          </div>
          <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              value="@halodior" />
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="emailPerson" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="emailPerson"
              value="jhon@halodior.com" />
          </div>
          <div class="col-md-6">
            <label for="organizationPosition" class="form-label">
              Organization Position
            </label>
            <input
              type="text"
              class="form-control"
              id="organizationPosition"
              value="Manager" />
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <label for="contactAddress" class="form-label">
              Contact Address
            </label>
            <input
              type="text"
              class="form-control"
              id="contactAddress"
              value="628876756678" />
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              value="somePassword" />
          </div>
        </div>
        <!-- Buttons -->
        <div class="row g-3">
          <div class="col-md-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2">
              Save Changes
            </button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
