<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Form Wizard | Techmin - Bootstrap 5 Admin & Dashboard Template
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully responsive admin theme which can be used to build CRM, CMS,ERP etc."
      name="description"
    />
    <meta content="Techzaa" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link
      href="assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />

    <!-- Theme Config Js -->
    <script src="assets/js/config.js"></script>

    <!-- App css -->
    <link
      href="assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-style"
    />

    <!-- Icons css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Begin page -->
    <div class="wrapper">
      <!-- ========== Topbar Start ========== -->
      <%- include('../../components/cms-components/navbar_cms.ejs', {
      headerTitle : "Event Management System "}) %>
      <!-- ========== Topbar End ========== -->

      <!-- Left Sidebar Start -->
      <%- include('../../components/cms-components/sidebar_cms.ejs') %>
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page">
        <div class="content">
          <!-- Start Content-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class=".card-title mb-0">Event Form Management</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div id="progressbarwizard">
                        <ul
                          class="nav nav-pills nav-justified form-wizard-header mb-3"
                        >
                          <li class="nav-item">
                            <a
                              href="#account-2"
                              data-bs-toggle="tab"
                              data-toggle="tab"
                              class="nav-link rounded-0 py-2"
                            >
                              <i
                                class="ri-account-circle-line fw-normal fs-20 align-middle me-1"
                              ></i>
                              <span class="d-none d-sm-inline">Account</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a
                              href="#profile-tab-2"
                              data-bs-toggle="tab"
                              data-toggle="tab"
                              class="nav-link rounded-0 py-2"
                            >
                              <i
                                class="ri-profile-line fw-normal fs-20 align-middle me-1"
                              ></i>
                              <span class="d-none d-sm-inline">Profile</span>
                            </a>
                          </li>
                        </ul>

                        <div class="tab-content b-0 mb-0">
                          <div
                            id="bar"
                            class="progress mb-3"
                            style="height: 7px"
                          >
                            <div
                              class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"
                            ></div>
                          </div>

                          <div class="tab-pane" id="account-2">
                            <div class="row">
                              <div class="col-12">
                                <div class="row mb-3">
                                  <label
                                    class="col-md-3 col-form-label"
                                    for="userName1"
                                    >Title Event</label
                                  >
                                  <div class="col-md-9">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="userName1"
                                      name="userName1"
                                      value="Techmin"
                                    />
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label
                                    class="col-md-3 col-form-label"
                                    for="password1"
                                  >
                                    Date</label
                                  >
                                  <div class="col-md-9 d-flex gap-2">
                                    <input
                                      class="form-control"
                                      id="example-date"
                                      type="date"
                                      name="date"
                                    />
                                    <input
                                      class="form-control"
                                      id="example-month"
                                      type="month"
                                      name="month"
                                    />
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <label
                                    class="col-md-3 col-form-label"
                                    for="confirm1"
                                    >Location Event</label
                                  >
                                  <div class="col-md-9">
                                    <input
                                      type="text"
                                      id="confirm1"
                                      name="confirm1"
                                      class="form-control"
                                      value="London, UK"
                                    />
                                  </div>
                                </div>
                              </div>
                              <!-- end col -->
                            </div>
                            <!-- end row -->

                            <ul class="list-inline wizard mb-0">
                              <li class="next list-inline-item float-end">
                                <a
                                  href="javascript:void(0);"
                                  class="btn btn-info"
                                  >Add More Info
                                  <i class="ri-arrow-right-line ms-1"></i
                                ></a>
                              </li>
                            </ul>
                          </div>

                          <div class="tab-pane" id="profile-tab-2">
                            <div class="row">
                              <div class="col-12">
                                <div class="mb-3">
                                  <label
                                    for="example-fileinput"
                                    class="form-label"
                                    >Default file input</label
                                  >
                                  <input
                                    type="file"
                                    id="example-fileinput"
                                    class="form-control"
                                  />
                                </div>

                                <div id="articleInputs" class="row mb-3">
                                  <div class="">
                                    <label
                                      for="example-fileinput"
                                      class="form-label"
                                      >Article 1</label
                                    >
                                    <div class="pr-4">
                                      <textarea
                                        class="form-control"
                                        id="example-textarea"
                                        rows="7"
                                      ></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end col -->
                            </div>
                            <!-- end row -->
                            <ul class="pager wizard mb-0 list-inline">
                              <li class="previous list-inline-item">
                                <button type="button" class="btn btn-light">
                                  <i class="ri-arrow-left-line me-1"></i> Back
                                </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- tab-content -->
                      </div>
                      <!-- end #progressbarwizard-->
                    </form>
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card-->
              </div>
              <!-- end col -->
              <!-- end col -->

              <!-- end col -->
            </div>
            <!-- end row -->

            <!-- end row -->
          </div>
          <!-- container -->
        </div>
        <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 text-center">
                <script>
                  document.write(new Date().getFullYear());
                </script>
                © Techmin - Theme by <b>Techzaa</b>
              </div>
            </div>
          </div>
        </footer>
        <!-- end Footer -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Theme Settings -->

    <!-- Vendor js -->
    <script src="assets/js/vendor.min.js"></script>

    <script src="assets/vendor/lucide/umd/lucide.min.js"></script>

    <!-- Bootstrap Wizard Form js -->
    <script src="assets/vendor/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <!-- Wizard Form Demo js -->
    <script src="assets/js/pages/form-wizard.init.js"></script>
    <!-- File Upload Demo js -->
    <script src="assets/js/pages/fileupload.init.js"></script>
    <!-- Dropzone File Upload js -->
    <script src="assets/vendor/dropzone/min/dropzone.min.js"></script>

    <!-- App js -->
    <script src="assets/js/app.min.js"></script>
  </body>
</html>
