<!--login form Modal -->
<div
  class="modal fade text-left"
  id="themeForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel33"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">Login Form</h4>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <form action="#">
        <div class="modal-body">
          <label>Name: </label>
          <div class="form-group">
            <input
              type="text"
              placeholder="Enter Theme Name Here"
              class="form-control"
            />
          </div>
          <label>Description: </label>
          <div class="form-group">
            <textarea
              name=""
              id=""
              placeholder="Enter Description Here"
              class="form-control"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Close</span>
          </button>
          <button
            type="button"
            class="btn btn-primary ml-1"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
